<nav>
  <div>
    <a id="site-title" href="/">{{ site.title }}</a>
  </div>
  <div id="nav-links" style="display: flex; flex-wrap: wrap; gap: 0.5rem; align-items: center;">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <div id="theme-switcher" style="display: flex; gap: 0.5rem; align-items: center;">
    <button id="autoSwitch" type="button"><span>⭘</span> <span>Auto theme</span></button>
    <button id="lightSwitch" type="button"><span>●</span> <span>Light theme</span></button>
    <button id="darkSwitch" type="button"><span>☾</span> <span>Dark theme</span></button>
    </div>
  </div>
</nav>